@charset "UTF-8";
@import "./layout/normalize.css";
@import "./layout/fonts.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

ul li,
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* button {
    background: transparent;
    cursor: pointer;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

main {
  min-height: calc(100vh - 43px);
}

img {
  display: block;
  max-height: 100%;
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2.375rem;
  right: 7.875rem;
  bottom: -0.125rem;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  background: #F5F5F5;
  padding-top: 1.5rem;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2.875rem 0 2.375rem;
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu .menu__list .menu__item .menu__link {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #292929;
}
.menu .menu__list .menu__item .menu__link:hover {
  text-decoration: underline;
}

.logo {
  justify-self: flex-start;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__phone {
  position: relative;
  margin-left: 0.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #292929;
}
.contacts__phone:before {
  display: block;
  width: 0.375rem;
  height: 1.125rem;
  left: -0.375rem;
  content: " ";
  position: absolute;
}

.welcome {
  background: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome .container {
  padding: 5.875rem 0 3.125rem;
  background-image: url(../../img/headphones-header.png);
  background-position: bottom 3.25rem right 6.1875rem;
  background-repeat: no-repeat;
  background-size: 30.5625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.welcome__content {
  width: 33%;
}
.welcome__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #292929;
}
.welcome__text {
  margin-top: 1.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  color: #292929;
}
.welcome .button {
  margin-top: 2.25rem;
}
.welcome__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4.375rem;
}
.welcome__advantages .advantage {
  width: 10.375rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome__advantages .advantage__text {
  margin-left: 0.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #292929;
}
.welcome__advantages .advantage__icon {
  width: 2.5625rem;
  height: 2.5625rem;
}
.welcome__advantages .advantage:nth-child(2) {
  margin: 0 0.5rem;
}

.button {
  border: none;
  padding: 1.125rem 2.5625rem;
  background: #E01F3D;
  border-radius: 6.25rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.button:hover {
  background: #CA1B36;
}
.button--theme--transparent {
  background: transparent;
}
.button--theme--transparent:hover {
  background: transparent;
  color: #CA1B36;
}

.why {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -2%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 2rem 0 0;
  border-color: #E01F3D transparent transparent transparent;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
.why .container {
  padding: 6.4375rem 0 5.5625rem;
  position: relative;
}
.why__head {
  padding: 0 25%;
}
.why__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
.why__text {
  margin-top: 1.125rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666;
  text-align: center;
}
.why__reasons {
  margin-top: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.why__reasons .reason {
  text-align: center;
  width: 17.25rem;
  position: relative;
}
.why__reasons .reason::before {
  content: url(../../icons/shapes.png);
  position: absolute;
  top: 1.875rem;
  right: -17%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.why__reasons .reason:last-child::before {
  display: none;
}
.why__reasons .reason__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.875rem;
  background: #F2F5F4;
  border-radius: 100%;
}
.why__reasons .reason__title {
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #292929;
}
.why__reasons .reason__text {
  margin-top: 0.4375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #666;
}

.feedbacks {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.feedbacks::before {
  content: "";
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  left: 19%;
  bottom: -2%;
  background: #868686;
  border-radius: 50%;
}
.feedbacks .container {
  padding: 4rem 0;
}
.feedbacks__all {
  margin-top: 2rem;
}
.feedbacks__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
.feedbacks .feedback {
  padding: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8FAF9;
  overflow: hidden;
  position: relative;
}
.feedbacks .feedback::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.8125rem;
}
.feedbacks .feedback__img {
  max-width: 15.8125rem;
  height: 16.5rem;
}
.feedbacks .feedback__info {
  margin-left: 2.5rem;
  padding: 2rem 0 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedbacks .feedback__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #292929;
}
.feedbacks .feedback__text {
  margin-right: 6.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666666;
}
.feedbacks .feedback__author {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #292929;
}
.feedbacks .feedback__select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedbacks .feedback__select .person {
  border: 0.25rem solid transparent;
}
.feedbacks .feedback__select .person:nth-child(2) {
  margin: 0 0.375rem;
}
.feedbacks .feedback__select .person--active {
  border: 0.25rem solid #E01F3D;
  border-radius: 6.4375rem;
}
.feedbacks .feedback__select .person:hover {
  border: 0.25rem solid #E01F3D;
  border-radius: 6.4375rem;
}

.order {
  height: 100vh;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #181818 center center/cover no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.form {
  margin-top: 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form:last-child {
  margin-right: 0;
}
.form__row {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
.form__input:focus {
  border: 0.1875rem solid #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 2.25rem;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__title {
  margin-bottom: 0.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}
.form__btns {
  margin-top: 3rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:first-child {
  margin-right: 1.5rem;
}
.radio--checkbox {
  margin-top: 1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("/icons/checkbox.png") center center/contain no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__title {
  margin-left: 0.625rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}

.fixed-menu {
  position: fixed;
  top: 21%;
  right: 3%;
  z-index: 666;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
  opacity: 1;
}

.map__img {
  width: 100%;
}

.footer {
  margin-top: 1.25rem;
  padding-bottom: 1.125rem;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__content .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.1875rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__img {
  width: 1.875rem;
  margin-right: 0.625rem;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link:hover .social__img {
  -webkit-filter: brightness(3%);
          filter: brightness(3%);
  opacity: 1;
  -webkit-transform: scale(125%, 125%);
          transform: scale(125%, 125%);
}

.img__facebook {
  opacity: 0.35;
}

/* Проверка */