@charset "UTF-8";
@import "./layout/normalize.css";
@import "./layout/fonts.css";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

ul li,
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* button {
    background: transparent;
    cursor: pointer;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

main {
  min-height: calc(100vh - 43px);
}

img {
  display: block;
  max-height: 100%;
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 2.875rem;
  right: 7.875rem;
  bottom: -1.125rem;
  background: #C4C4C4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  background: #F5F5F5;
  padding-top: 1.5rem;
}
.header__phone--number svg {
  margin-top: 0.375rem;
  width: 14px;
  height: 14px;
  fill: #292929;
}
@media screen and (max-width: 768px) {
  .header__phone--number {
    display: none;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2.875rem 0 2.375rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu .menu__list .menu__item {
  margin-bottom: 0.3125rem;
}
.menu .menu__list .menu__item .menu__link {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #292929;
  white-space: nowrap;
}
.menu .menu__list .menu__item .menu__link:hover {
  text-decoration: underline;
}

.logo {
  justify-self: flex-start;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts:hover a {
  color: red;
  -webkit-transition: 1s;
  transition: 1s;
}
.contacts:hover svg {
  fill: red;
  -webkit-transition: 1s;
  transition: 1s;
}
.contacts__phone {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #292929;
}
.contacts__phone:before {
  display: block;
  width: 0.375rem;
  height: 1.125rem;
  left: -0.375rem;
  content: " ";
  position: absolute;
}

.contact:hover a {
  color: red;
}
.contact:hover a img {
  content: url("../icons/phone-hover.png");
  width: 14px;
  height: 15px;
}

.hamburger {
  margin-right: 2%;
  width: 26px;
  height: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #000;
  height: 4px;
  border-radius: 12px;
}
.hamburger__all {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 667;
  background: #666666;
}
.hamburger__close {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}
.hamburger__content {
  height: 100%;
  min-height: 40.625rem;
  padding: 20% 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hamburger__list {
  height: 510px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hamburger__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hamburger__link {
  cursor: pointer;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
}
.hamburger__link:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.welcome {
  background: #F5F5F5;
  height: 94vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome .container {
  padding: 5.875rem 0 3.125rem;
  background-image: url(../img/headphones-header.png);
  background-position: bottom 71% left 61%;
  background-repeat: no-repeat;
  background-size: 30.5625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media screen and (max-width: 768px) {
  .welcome .container {
    background: none;
    padding: 0;
    height: 100%;
  }
}
.welcome__content {
  width: 33%;
}
@media screen and (max-width: 768px) {
  .welcome__content {
    height: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome__content:before {
    content: "";
    background: url("../img/tablets/headphones-header.png") center center/contain no-repeat;
    height: 20.1875rem;
    width: 20.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .welcome__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 6.25rem;
  }
}
.welcome__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .welcome__title {
    margin-top: 4rem;
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .welcome__title {
    margin-top: 3.4375rem;
    padding: 0 7%;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.welcome__text {
  margin-top: 1.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .welcome__text {
    padding: 0 24%;
  }
}
@media screen and (max-width: 480px) {
  .welcome__text {
    margin-top: 1.125rem;
    padding: 0 10%;
  }
}
.welcome .button {
  margin-top: 2.25rem;
}
.welcome__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4.375rem;
}
@media screen and (max-width: 768px) {
  .welcome__advantages {
    display: none;
  }
}
.welcome__advantages .advantage {
  width: 10.375rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome__advantages .advantage__text {
  margin-left: 0.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #292929;
}
.welcome__advantages .advantage__icon {
  width: 2.5625rem;
  height: 2.5625rem;
}
.welcome__advantages .advantage:nth-child(2) {
  margin: 0 0.5rem;
}

.button {
  border: none;
  padding: 18px 41px;
  background: #E01F3D;
  border-radius: 6.25rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .button {
    padding: 1.3125rem 2.5625rem;
  }
}
.button:hover {
  background: #CA1B36;
}
.button--theme--transparent {
  background: transparent;
}
.button--theme--transparent:hover {
  background: transparent;
  color: #CA1B36;
}

.why {
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -2%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 2rem 0 0;
  border-color: #E01F3D transparent transparent transparent;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 1;
}
.why .container {
  padding: 6.4375rem 0 5.5625rem;
  position: relative;
}
.why__head {
  padding: 0 25%;
}
@media screen and (max-width: 768px) {
  .why__head {
    padding: 0 12%;
  }
}
@media screen and (max-width: 480px) {
  .why__head {
    padding: 0 10%;
  }
}
.why__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .why__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .why__title {
    font-size: 2rem;
  }
}
.why__text {
  margin-top: 1.125rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666;
  text-align: center;
}
.why__reasons {
  margin-top: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .why__reasons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .why__reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.why__reasons .reason {
  text-align: center;
  width: 17.25rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .why__reasons .reason {
    width: 14.0625rem;
  }
}
@media screen and (max-width: 480px) {
  .why__reasons .reason {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .why__reasons .reason:nth-child(2) {
    margin: 1.875rem 0;
  }
}
@media screen and (max-width: 480px) {
  .why__reasons .reason__content {
    margin-left: 0.75rem;
    width: 60%;
  }
}
.why__reasons .reason::before {
  content: url(../icons/shapes.svg);
  position: absolute;
  top: 1.875rem;
  right: -17%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .why__reasons .reason::before {
    content: "";
  }
}
.why__reasons .reason:last-child::before {
  display: none;
}
.why__reasons .reason__img {
  height: 128px;
  width: 128px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  background: #F2F5F4;
  border-radius: 100%;
}
.why__reasons .reason__title {
  margin-top: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .why__reasons .reason__title {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .why__reasons .reason__title {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}
.why__reasons .reason__text {
  margin-top: 0.4375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #666;
}
@media screen and (max-width: 480px) {
  .why__reasons .reason__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}

.options {
  position: relative;
  background: #F8FAF9;
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}
.options .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.options .activeslide {
  position: absolute;
  padding: 5.9375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .options .activeslide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.options__all {
  padding: 5.9375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 2.0625rem;
}
@media screen and (max-width: 768px) {
  .options__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .options__all:before {
    right: 1.25rem;
  }
  .options__all:after {
    right: 1.25rem;
  }
}
.options__img {
  margin-right: 3.6875rem;
  width: 28.25rem;
  height: 28.25rem;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .options__img {
    margin-right: 0;
    width: 19.125rem;
    height: 19.125rem;
  }
}
@media screen and (max-width: 768px) {
  .options__icon {
    display: none;
  }
}
.options .icon__dropdown {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  top: 0;
  left: 91px;
  width: 273px;
  height: 294px;
  background: #d8d3d3;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
}
.options .icon__dropdown .dropdown__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px;
}
.options .icon__dropdown .dropdown__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.options .icon__dropdown .dropdown__name {
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.options .icon__dropdown .dropdown__value {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.options .icon__dropdown::before {
  content: "";
  left: -91px;
  position: absolute;
  width: 91px;
  height: 100%;
  background: transparent;
}
.options__head:hover .icon__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.options__title {
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .options__title {
    text-align: center;
    font-size: 1.75rem;
  }
}
.options p {
  width: 23rem;
  margin-top: 1.5rem;
  margin-bottom: 1.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .options p {
    text-align: center;
    width: 100%;
  }
}
.options span {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #000000;
}
.options__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .options__details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.options__price {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 3.75rem;
  text-transform: uppercase;
  color: #151515;
}
.options__charging {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666666;
}
.options__weight {
  margin-left: 2.75rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666666;
}
.options__buy-info {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .options__buy-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.options__buy-btn {
  margin-left: 0.8125rem;
}
@media screen and (max-width: 768px) {
  .options__buy-btn {
    margin-left: 1.875rem;
  }
}
.options::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 20%;
  bottom: -1%;
  background: #292929;
  -webkit-transform: rotate(29.11deg);
          transform: rotate(29.11deg);
}
.options__control {
  margin-top: 25%;
}
@media screen and (max-width: 768px) {
  .options__control {
    display: none;
  }
}
.options__head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.options__content {
  position: relative;
  width: 24.6875rem;
}
.options .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.options .bx-prev {
  background: url(../icons/left.svg) center center/contain no-repeat;
}
.options .bx-next:hover {
  background-position: unset;
  opacity: 1;
}
.options .bx-prev:hover {
  background-position: unset;
}
.options .bx-next {
  background-position: unset;
  opacity: 1 !important;
  background: url(../icons/right.svg) center center/contain no-repeat;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: unset;
}

.team {
  background: #fff;
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__list {
  margin-top: 3.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team__title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 52px;
  text-transform: uppercase;
  color: #292929;
}
.team .member {
  min-height: 427px;
  width: 222px;
  margin-right: 1.25rem;
}
@media screen and (max-width: 768px) {
  .team .member {
    min-height: 0;
  }
}
.team .member__img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .team .member__img {
    display: none;
  }
}
.team .member__img--tablets {
  display: none;
}
@media screen and (max-width: 768px) {
  .team .member__img--tablets {
    display: block;
  }
}
.team .member:last-child {
  margin-right: 0;
}
.team .member__name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-top: 1.5625rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #292929;
  text-align: center;
}
.team .member .member__drop-link {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team .member .member__elem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 0;
  height: 0;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #E01F3D transparent;
  border-style: solid;
  right: 10%;
  top: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.team .member__special {
  margin-top: 0.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .team .member__special {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
.team .member__optain {
  margin-top: 0.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #666666;
}
.team .member__drop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team .member .activee {
  display: block;
  overflow: visible;
}

.colors {
  background: url("../../img/colors__bg.jpg") center center/cover no-repeat;
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.colors .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 5.875rem 0 3.125rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.colors .container .colors__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.colors__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.colors .color__block {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.colors .color__block--red {
  background: #E01F3C;
}
.colors .color__block--black {
  background: #151515;
}
.colors .color__block--grey {
  background: #999;
}
.colors .color__title {
  position: relative;
  width: 6.375rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.colors .color {
  position: absolute;
  top: -20px;
  left: -300%;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  color: #FFF;
}
.colors .color__info {
  height: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.colors .color__info .color__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16.0138px;
  line-height: 1.5rem;
  color: #FFFFFF;
  width: 100%;
  padding: 1.9375rem 3.3125rem 0 2.375rem;
}
.colors .color__info.visible {
  background: #333537E5;
  width: 32.75rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 768px) {
  .colors .color__info.visible {
    width: 59vw;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.feedbacks {
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.feedbacks::before {
  content: "";
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  left: 19%;
  bottom: -2%;
  background: #868686;
  border-radius: 50%;
}
.feedbacks .container {
  padding: 4rem 0;
}
.feedbacks__all {
  margin-top: 2rem;
}
.feedbacks__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
.feedbacks .feedback.feedback--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedbacks .feedback {
  padding: 2.625rem;
  display: none;
  background: #F8FAF9;
  overflow: hidden;
  position: relative;
  min-height: 280px;
}
@media screen and (max-width: 768px) {
  .feedbacks .feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.875rem 1.5rem 1.875rem;
  }
}
.feedbacks .feedback::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.8125rem;
}
.feedbacks .feedback__img {
  max-width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .feedbacks .feedback__img {
    max-width: 8.125rem;
    height: 8.125rem;
  }
}
.feedbacks .feedback__info {
  margin-left: 2.5rem;
  padding: 2rem 0 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .feedbacks .feedback__info {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
  }
}
.feedbacks .feedback__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #292929;
}
.feedbacks .feedback__text {
  margin-right: 6.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1.6875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .feedbacks .feedback__text {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-right: 0;
  }
}
.feedbacks .feedback__author {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .feedbacks .feedback__author {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.feedbacks .feedback__select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedbacks .feedback__select .person {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0.25rem solid transparent;
}
.feedbacks .feedback__select .person:nth-child(2) {
  margin: 0 0.375rem;
}
.feedbacks .feedback__select .person--active {
  border: 0.25rem solid #E01F3D;
  border-radius: 6.4375rem;
}
.feedbacks .feedback__select .person:hover {
  border: 0.25rem solid #E01F3D;
  border-radius: 6.4375rem;
}

.order {
  height: 100%;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/form-bg.jpg") center center/cover no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}
@media screen and (max-width: 480px) {
  .order__title {
    font-size: 2rem;
  }
}

.form {
  margin-top: 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
@media screen and (max-width: 480px) {
  .form__col {
    margin-right: 0;
  }
}
.form:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form {
    margin-right: 0;
  }
}
.form__row {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form .block--margin_zero {
  margin-right: 0;
}
.form__input {
  width: 100%;
  border: none;
  padding: 1.1875rem 0.75rem;
  border: 0.1875rem solid transparent;
  border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}
.form__input:focus {
  border: 0.1875rem solid #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    margin-bottom: 1.375rem;
    height: 5.125rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__title {
  margin-bottom: 0.375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}
.form__btns {
  margin-top: 3rem;
}
.form__btns input {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.error {
  border: 0.1875rem solid red;
  border-radius: 1%;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:first-child {
  margin-right: 1.5rem;
}
.radio--checkbox {
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-top: 1.4375rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../icons/checkbox.svg") center center/contain no-repeat;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__title {
  margin-left: 0.625rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
}

.fixed-menu {
  position: fixed;
  top: 21%;
  right: 3%;
  z-index: 666;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
  opacity: 1;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #E01F3D;
}

.fixed-menu--shadowed {
  background: white;
}

.map__img {
  width: 100%;
}

.footer {
  margin-top: 1.25rem;
  padding-bottom: 1.125rem;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .footer__content .contacts__address {
    font-style: normal;
    font-size: 1.125rem;
  }
}
.footer__content .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.1875rem;
}
.footer__content .contacts .contact:hover svg {
  fill: red;
}
.footer__content .contacts .contact svg {
  margin-top: 0.25rem;
  width: 14px;
  height: 14px;
  fill: #292929;
}
@media screen and (max-width: 480px) {
  .footer__content .contacts .contact {
    margin-top: 0.75rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .social {
    margin-top: 1.1875rem;
  }
}
.social__img {
  margin-right: 0.625rem;
}
.social__img.img__telegram {
  margin-right: 0;
}
.social__link {
  height: 30px;
}
.social__link:last-child {
  margin-right: 0;
}
.social svg {
  width: 30px;
  height: 30px;
  fill: #B3B3B3;
}
.social svg:hover {
  fill: black;
  -webkit-transform: scale(125%, 125%);
          transform: scale(125%, 125%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #313131d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 999;
  display: none;
  -webkit-transition: display 1s;
  transition: display 1s;
}
.modal.error-modal .modal__content {
  color: red;
}

.modal__container {
  min-width: 19.3125rem;
  min-height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 2.3125rem 3.125rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #000000;
}

.button--model {
  margin-top: 1.125rem;
}

@media screen and (max-width: 768px) {
  .bx-wrapper .bx-controls-direction a {
    top: 28%;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .bx-wrapper .bx-next {
    right: -0.5625rem;
  }
}

.bx-wrapper .bx-prev {
  left: -0.5625rem;
}

/* Проверка */