.colors {
  background: url('../../img/colors__bg.jpg') center center/cover no-repeat;
  height: 100%;
  min-height: rem(650px);
  display: flex;
  position: relative;


  .container {
    display: flex;
    overflow: hidden;
    padding: rem(94px) 0 rem(50px);
    flex: 2;

    .colors__title {
      font-style: normal;
      font-weight: bold;
      font-size: rem(48px);
      line-height: rem(52px);
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  &__content {
    display: inline-flex;
    justify-content: flex-end;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    // flex: 1;
  }

  .color__block {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .color__title {
    display: flex;
      flex-direction: column;
    justify-content: flex-end;
    // position: relative;
    height: 100%;
    padding-bottom: rem(54px);
    width: rem(102px);
    // transform: rotate(-90deg);

    &--red {
      background: #E01F3C;
    }

    &--black {
      background: #151515;
    }

    &--grey {
      background: #999;
    }
  }

  .color {
    // position: absolute;
    // top: -20px;
    // left: -300%;
    // width: rem(102px);

    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: rem(36px);
    line-height: rem(43px);
    color: #FFF;
    transform: rotate(-90deg);
  }

  .color__info {
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: all .5s;

    .color__text {
      font-style: normal;
      font-weight: normal;
      font-size: 16.0138px;
      line-height: rem(24px);
      color: #FFFFFF;
      width: 100%;
      padding: rem(31px) rem(53px) 0 rem(38px);
    }
  }

  .color__info.visible {
    background: #333537E5;
    width: rem(524px);
    transition: all 1s;

    @include tablets {
      // width: 53vw;
      width: 59vw;
      transition: all 1s;
    }
  }
}