.contacts {
    display: flex;
    justify-self: flex-end;
    align-items: center;

    &__phone {
        position: relative;

        &:before {
            display: block;
            width: 6px;
            height: 18px;
            left: -6px;
            content: ' ';
            position: absolute;
        }

        margin-left: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #292929;
    }
}