.feedbacks .container {
  padding: 64px 0;
  position: relative;
}
.feedbacks .container::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0px;
  bottom: 0px;
  background: #868686;
  border-radius: 50%;
}
.feedbacks__all {
  margin-top: 32px;
}
.feedbacks__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
.feedbacks .feedback {
  padding: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8FAF9;
}
.feedbacks .feedback__img {
  max-width: 253px;
  height: 264px;
}
.feedbacks .feedback__info {
  margin-left: 40px;
  padding: 32px 0 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedbacks .feedback__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}
.feedbacks .feedback__text {
  margin-right: 107px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.feedbacks .feedback__author {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}
.feedbacks .feedback__select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedbacks .feedback__select .person:nth-child(2) {
  margin: 0 6px;
}