.footer {
  margin-top: rem(20px);
  padding-bottom: rem(18px);
  .container {
    display: flex;

    justify-content: space-between;
  }

  &__content {

    display: flex;
    justify-content: space-between;

    .contacts {
      display: flex;
      flex-direction: column;

      .contact {
        display: flex;
        flex-direction: row;
        margin-top: rem(3px);
      }
    }
  }
}