.footer {
  margin-top: rem(20px);
  padding-bottom: rem(18px);

  .container {
    display: flex;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {

    display: flex;
    justify-content: space-between;

    .contacts {
      display: flex;
      flex-direction: column;

      @include phones {
        &__address {
          font-style: normal;
          font-size: rem(18px);
        }
      }

      .contact {
        display: flex;
        flex-direction: row;
        margin-top: rem(3px);

        &:hover {
          svg {
            fill: red;
          }
        }

        svg {
          margin-top: rem(4px);
          width: 14px;
          height: 14px;
          fill: #292929;
          // &:hover {
          //   fill: red;
          // }
        }

        @include phones {
          margin-top: rem(12px);
        }
      }
    }
  }
}