.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: rem(32px);
    height: rem(38px);
    right: rem(126px);
    bottom: rem(-2px);
    background: #C4C4C4;
    transform: rotate(-45deg);

  }
}