.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 38px;
    right: 126px;
    bottom: -2px;
    background: #C4C4C4;
    transform: rotate(-45deg);

  }
}