.menu {
  flex: 1;
  margin: 0 rem(46px) 0 rem(38px);

  & .menu__list {
    display: flex;
    justify-content: space-around;

    & .menu__item {

      & .menu__link {
        font-family: Alegreya Sans;
        font-style: normal;
        font-weight: normal;
        font-size: rem(18px); // 18
        line-height: rem(20px);
        color: #292929;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}