.options {
  position: relative;
  background: #F8FAF9;
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include tablets {
      width: 90%;
    }
  }


  .activeslide {
    position: absolute;
    padding: rem(95px) 0;
    display: flex;
    margin: 0 0 0 rem(33px);

    @include tablets {
      & {
        flex-direction: column;
        align-items: center;

        // &:after {
        //   cursor: pointer;
        //   position: absolute;
        //   top: 28%;
        //   left: rem(40px);
        //   content: "";
        //   width: 20px;
        //   height: 38px;
        //   background-image: url(../icons/left.svg);
        // }

        // &:before {
        //   cursor: pointer;
        //   position: absolute;
        //   z-index: 3;
        //   content: "";
        //   top: 28%;
        //   right: rem(40px);
        //   width: 20px;
        //   height: 38px;
        //   background-image: url(../icons/right.svg);
        // }
      }
    }
  }

  &__all {
    // display: none;
    padding: rem(95px) 0;
    display: flex;
    margin: 0 0 0 rem(33px);

    @include tablets {
      & {
        flex-direction: column;
        align-items: center;

        // &:after {
        //   cursor: pointer;
        //   position: absolute;
        //   top: 28%;
        //   left: rem(40px);
        //   content: "";
        //   width: 20px;
        //   height: 38px;
        //   background-image: url(../icons/left.svg);
        // }

        // &:before {
        //   cursor: pointer;
        //   position: absolute;
        //   z-index: 3;
        //   content: "";
        //   top: 28%;
        //   right: rem(40px);
        //   width: 20px;
        //   height: 38px;
        //   background-image: url(../icons/right.svg);
        // }
      }

      @include phones {
        &:before {
          right: rem(20px);

        }

        &:after {
          right: rem(20px);
        }
      }
    }
  }

  &__img {
    margin-right: rem(59px);
    width: rem(452px);
    height: rem(452px);
    border-radius: 50%;
    user-select: none;

    @include tablets {
      margin-right: 0;
      width: rem(306px);
      height: rem(306px);
    }
  }

  &__icon {
    @include tablets {
      display: none;
    }
  }

  .icon__dropdown {
    display: none;
    flex: 1;
    position: absolute;
    top: 0;
    left: 91px;
    width: 273px;
    height: 294px;
    background: #d8d3d3;
    border-radius: 4px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);


    .dropdown {
      &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28px;
      }

      &__elements {
        display: flex;
      }

      &__name {
        margin-left: 12px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000;
      }

      &__value {
        flex-direction: row-reverse;
        display: flex;
        flex: 1;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000;
      }
    }
  }

  .icon__dropdown::before {
    content: "";
    left: -91px;
    position: absolute;
    width: 91px;
    height: 100%;
    background: transparent;
  }

  &__head:hover {
    .icon__dropdown {
      display: flex;
    }
  }

  &__title {
    margin-top: rem(25px);
    font-style: normal;
    font-weight: bold;
    font-size: rem(36px);
    line-height: rem(42px);
    text-transform: uppercase;
    color: #292929;

    @include tablets {
      & {
        text-align: center;
        font-size: rem(28px);
      }
    }
  }

  p {
    width: rem(368px);
    margin-top: rem(24px);
    margin-bottom: rem(27px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;

    @include tablets {
      text-align: center;
      width: 100%;
    }
  }

  span {
    font-style: normal;
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(21px);
    color: #000000;
  }

  &__details {
    display: flex;

    @include tablets {
      justify-content: center;
    }
  }

  &__price {
    font-style: normal;
    font-weight: normal;
    font-size: rem(36px);
    line-height: rem(60px);
    text-transform: uppercase;
    color: #151515;
  }

  &__charging {
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;


  }

  &__weight {
    margin-left: rem(44px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #666666;
  }

  &__buy-info {
    margin-top: rem(24px);
    display: flex;

    @include tablets {
      justify-content: center;
    }
  }

  &__buy-btn {
    margin-left: rem(13px);

    @include tablets {
      margin-left: rem(30px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: rem(24px);
    height: rem(24px);
    right: 20%;
    bottom: -1%;
    background: #292929;
    transform: rotate(29.11deg);
  }

  &__control {
    margin-top: 25%;

    @include tablets {
      display: none;
    }
  }

  &__head {
    display: inline-flex;
  }

  &__content {
    position: relative;
    width: rem(395px);
  }

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  .bx-prev {
    background: url(../icons/left.svg) center center / contain no-repeat;
  }

  .bx-next:hover {
    background-position: unset;
    opacity: 1;
  }

  .bx-prev:hover {
    background-position: unset;
  }

  .bx-next {
    background-position: unset;
    opacity: 1 !important;

    background: url(../icons/right.svg) center center / contain no-repeat;
  }
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: unset;
}