.order {
  height: 100vh;
  min-height: 650px;
  display: flex;
  background: #181818 center center/cover no-repeat;
  align-items: center;

  &__title {
    $fontSize: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: $fontSize; // 48
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
  }
}