.order {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  background: #181818 center center/cover no-repeat;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px); // 48
    line-height: rem(52px);
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
  }
}