.social {
  display: flex;

  @include phones {
    margin-top: rem(19px);
}

  &__img {
    margin-right: rem(10px);
  }

  &__img.img__telegram {
    margin-right: 0;
  }

  &__link {
    height: 30px;
    // width: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #B3B3B3;

    &:hover {
      fill: black;
      transform: scale(125%, 125%);
    }
  }
}



