.social {
  display: flex;

  &__img {
    width: rem(30px);

    margin-right: rem(10px);
  }

  &__link {
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      .social__img {
        filter: brightness(3%);
        opacity: 1;
        transform: scale(125%, 125%);
      }
    }
  }
}

.img__facebook {
  opacity: 0.35;
}