.welcome {
  background: #F5F5F5;
  height: 100vh;
  min-height: 650px;
  display: flex;


  .container {
    // position: relative;
    padding: 94px 0 50px;
    background-image: url(../../img/headphones-header.png);
    background-position: bottom 52px right 99px;
    background-repeat: no-repeat;
    background-size: 489px;
    // display: flex;
    // flex-direction: column;
    align-self: center;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    color: #292929;
  }

  &__text {
    margin-top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #292929;
  }

  .button {
    margin-top: 36px;
  }

  &__advantages {
    display: flex;
    align-items: flex-end;
    margin-top: 70px;

    .advantage {
      width: 166px;
      height: 56px;
      display: flex;

      &__text {
        margin-left: 11px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #292929;

      }

      &__icon {
        width: 41px;
        height: 41px;
      }
    }

    .advantage:nth-child(2) {
      margin: 0 8px;
    }
  }
}