.welcome {
  background: #F5F5F5;
  height: 94vh;
  min-height: rem(650px);
  display: flex;


  .container {
    // position: relative;
    padding: rem(94px) 0 rem(50px);
    background-image: url(../../img/headphones-header.png);
    background-position: bottom 71% left 61%; // bottom rem(52px) right rem(99px)
    background-repeat: no-repeat;
    background-size: rem(489px);
    // display: flex;
    // flex-direction: column;
    align-self: center;

    @include tablets {
      background: none;
      padding: 0;
      height: 100%;
    }
  }

  $headWidth: 33%;

  &__content {
    width: $headWidth;

    @include tablets {
      height: 100%;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;

      &:before {
        content: url("../../img/tablets/headphones-header.png");
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px); // 48
    line-height: rem(52px);
    text-transform: uppercase;
    color: #292929;

    @include tablets {
      margin-top: rem(64px);
      padding: 0 8%;
    }
  }

  &__text {
    margin-top: rem(22px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(21px); // 21
    line-height: rem(25px);
    color: #292929;

    @include tablets {
      padding: 0 24%;
    }
  }

  .button {
    margin-top: rem(36px);
  }

  &__advantages {
    display: flex;
    align-items: flex-end;
    margin-top: rem(70px);

    @include tablets {
      display: none;
    }

    .advantage {
      width: rem(166px);
      height: rem(56px);
      display: flex;

      &__text {
        margin-left: rem(11px);
        font-style: normal;
        font-weight: normal;
        font-size: rem(16px); // 16
        line-height: rem(18px);
        color: #292929;

      }

      &__icon {
        width: rem(41px);
        height: rem(41px);
      }
    }

    .advantage:nth-child(2) {
      margin: 0 rem(8px);
    }
  }
}