.why {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  position: relative;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 20%;
    bottom: -2%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(32px) rem(32px) 0 0;
    border-color: #E01F3D transparent transparent transparent;
    transform: rotate(25deg);
  }

  .container {
    padding: rem(103px) 0 rem(89px);
    position: relative;
  }

  &__head {
    padding: 0 25%;

    @include tablets {
      padding: 0 12%;
    }

    @include phones {
      padding: 0 10%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px); // 48
    line-height: rem(52px);
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    @include tablets {
      font-size: rem(48px);
    }
    @include phones {
      font-size: rem(32px);
    }
  }

  &__text {
    margin-top: rem(18px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px); // 16
    line-height: rem(19px);
    color: #666;
    text-align: center;
  }

  &__reasons {
    margin-top: rem(62px);
    display: flex;
    justify-content: space-around;

    @include phones {
      flex-direction: column;
      align-items: center;
    }

    .reason {
      text-align: center;
      width: rem(276px);
      position: relative;

      @include phones {
        display: inline-flex;
        align-items: center;
        width: 100%;

        &:nth-child(2) {
          margin: rem(30px) 0;
        }
      }

      &::before {
        content: url(../../icons/shapes.png);
        position: absolute;
        top: rem(30px);
        right: -17%;
        transform: translateX(50%);

        @include tablets {
          content: "";
        }
      }

      &:last-child::before {
        display: none;
      }

      &__img {
        display: inline-flex;
        justify-content: center;
        padding: rem(30px);
        background: #F2F5F4;
        border-radius: 100%;

        @include phones {
          flex-direction: row;

        }
      }

      &__title {
        margin-top: rem(24px);
        font-style: normal;
        font-weight: bold;
        font-size: rem(24px); // 24
        line-height: rem(28px);
        color: #292929;


        @include phones {
          flex-direction: column;
          flex: 1;
        }
      }

      &__text {
        margin-top: rem(7px);
        font-style: normal;
        font-weight: normal;
        font-size: rem(16px); // 16
        line-height: rem(19px);
        text-align: center;
        color: #666;


        @include phones {
          flex-direction: column;
          flex: 1;
        }
      }
    }
  }
}