.why {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -2%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32.5px 0 0;
  border-color: #E01F3D transparent transparent transparent;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
.why .container {
  padding: 103px 0 89px;
  position: relative;
}
.why__head {
  padding: 0 25%;
}
.why__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
.why__text {
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666;
  text-align: center;
}
.why__reasons {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.why__reasons .reason {
  text-align: center;
  width: 276px;
  position: relative;
}
.why__reasons .reason::before {
  content: url(../../icons/shapes.png);
  position: absolute;
  top: 30px;
  right: -17%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.why__reasons .reason:last-child::before {
  display: none;
}
.why__reasons .reason__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  background: #F2F5F4;
  border-radius: 100%;
}
.why__reasons .reason__title {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}
.why__reasons .reason__text {
  margin-top: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #666;
}