.button {
  border: none;
  padding: 18px 41px;
  background: #E01F3D;
  border-radius: rem(100px);
  font-style: normal;
  font-weight: bold;
  font-size: 16px; // 16
  line-height: rem(18px);
  display: inline-flex;
  align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  @include tablets {
    padding: rem(21px) rem(41px);
  }

  &:hover {
    background: #CA1B36;
  }

  &--theme--transparent {
    background: transparent;


    &:hover {
      background: transparent;
      color: #CA1B36;
    }
  }
}