.form {
  margin-top: rem(58px);
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    flex-direction: column;
    padding: 0;
  }

  &__col {
    flex: 1;
    margin-right: rem(20px);

    @include phones {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }

  &__row {
    margin-bottom: rem(18px);
    display: flex;
  }

  &__block {
    flex: 1;
    margin-right: rem(20px);
  }

  .block--margin_zero {
    margin-right: 0;
  }

  &__input {
    width: 100%;
    border: none;
    padding: rem(19px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(4px);

    @include tablets {
      padding: rem(8px) rem(10px);
    }

    &:focus {
      border: rem(3px) solid #E01F3D;
      outline: none;
    }

    &--textarea {
      height: rem(152px);
      resize: none;
      margin-bottom: rem(36px);

      @include tablets {
        margin-bottom: rem(22px);
        height: rem(82px);
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: nowrap;

    @include phones {
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: rem(6px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px); // 16
    line-height: rem(19px);
    color: #FFFFFF;
  }

  &__btns {
    margin-top: rem(48px);

    input {
      cursor: pointer;
    }

    @include tablets {
      display: flex;
      justify-content: center;
    }
  }
}

.error {
  border: rem(3px) solid red;
  border-radius: 1%;
}