.header {
  background: #F5F5F5;
  padding-top: rem(21.95px);
  height: 6%;

  &__phone--number {
    svg {
      margin-top: rem(6px);
      width: 14px;
      height: 14px;
      fill: #292929;
    }

    @include tablets {
      display: none;
    }
  }
 
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}