.hero {
  position: relative;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: rem(10px);
    height: rem(46px);
    right: rem(126px);
    bottom: rem(-18px);
    background: #C4C4C4;
    transform: rotate(45deg);
  }
}