.order {
  height: 100%;
  min-height: rem(652px);
  display: flex;
  background: url("../img/form-bg.jpg") center center/cover no-repeat;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px); // 48
    line-height: rem(52px);
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    
    @include phones {
      font-size: rem(32px);
    }
  }
}