.player {
  display: flex;
  justify-content: center;
  width: rem(662px);
  flex-direction: column;

  @include tablets {
    width: rem(594px);
  }

  @include phones {
    width: rem(394px);
  }

  &__controls {
    display: flex;
    justify-self: center;
    align-items: center;
    // width: 662px;
    height: rem(35px);
    background: #151515;
    position: relative;
  }

  &__duration {
    font-size: small;
    color: white;
    position: absolute;
    right: 23px;
    top: -13px;
  }


  &__wrapper {
    width: 100%;
  }

  &__splash {
    background: url(../img/video/video-short.jpg) center bottom/contain no-repeat;
    height: rem(356px);
    width: 100%;
    position: relative;

    &:before {
      content: "";
      width: 49px;
      height: 71px;
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../icons/video/pause.svg) center center/cover no-repeat;

      @include phones {
        top: 70%;
      }
    }
  }

  &__start {
    outline: transparent;
    border: 0px;
    background: url(../icons/video/control/pause-button.svg) center center/cover no-repeat;
    height: 16px;
    width: 11px;
    cursor: pointer;
    position: absolute;
    left: 17px;

    @include tablets {
      left: 15px;
    }

    @include phones {
      left: 10px;
    }
  }

  &__mute {
    outline: transparent;
    border: 0px;
    background: url(../icons/video/control/sound-button.svg) center center/cover no-repeat;
    height: 16px;
    width: 11px;
    cursor: pointer;
    position: absolute;
    right: 105px;

    @include tablets {
      right: 95px;
    }

    @include phones {
      right: 63px;
    }
  }

  &__playback {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 443px;
    height: 4px;
    left: 57px;
    background: #333333;

    @include tablets {
      width: 370px;
      left: 51px;
    }

    @include phones {
      width: 217px;
      left: 34px;

    }

    &-button {
      cursor: w-resize;
      width: 16px;
      height: 16px;
      border: 8px solid #E01F3D;
      background: #E01F3D;
      border-radius: 50%;
      transform: translateX(-50%);
      position: absolute;
      left: 0;

      @include tablets {
        width: 14px;
        height: 14px;
      }

      @include phones {
        width: 9px;
        height: 9px;
      }
    }
  }

  &__sound {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    width: 58px;
    height: 5px;
    right: 23px;
    background: #333333;

    @include tablets {
      width: 52px;
      right: 21px;
    }

    @include phones {
      width: 35px;
      right: 14px;
    }


    &-button {
      cursor: w-resize;
      width: 12px;
      height: 12px;
      border: 8px solid #E01F3D;
      background: #E01F3D;
      border-radius: 50%;
      transform: translateX(-50%);
      position: absolute;
      right: 0;

      @include tablets {
        width: 11px;
        height: 11px;
      }

      @include phones {
        width: 7px;
        height: 7px;
      }
    }

    &-button.muted {
      left: 0 !important;
    }
  }

  #yt-player {
    display: none;
  }
}

.player__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player.active {
  .player__splash {
    background: transparent;
    height: 0;

    &:before {
      display: none;
    }
  }

  #player {
    display: block;
    width: 100%;
  }

  .player__controls {
    margin-top: -4px;

    @include tablets {
      margin-top: -25px;
    }

    @include phones {
      margin-top: -70px;
    }
  }

  #yt-player {
    display: block;
  }
}

.player.paused {
  .player__start {
    background: url(../icons/video/control/paused-button.svg) center center/cover no-repeat;
  }
}

#player {
  display: none;
  margin-bottom: -37px;
}