.team {
  background: #fff;
  height: 100%;
  min-height: rem(650px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    margin-top: rem(53px);
    display: flex;
    justify-content: center;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: 52px;
    text-transform: uppercase;
    color: #292929;
  }

  .member {
    min-height: 427px;
    // flex: 1;
    width: 222px;
    margin-right: rem(20px);

    @include tablets {
      min-height: 0;
    }

    &__img {
      user-select: none;

      @include tablets {
        display: none;
      }
    }

    &__img--tablets {
      display: none;

      @include tablets {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &__name {
      display: inline-flex;
      position: relative;
      margin-top: rem(25px);
      font-style: normal;
      font-weight: bold;
      font-size: rem(18px);
      line-height: rem(21px);
      color: #292929;
      text-align: center;
    }

    .member__drop-link {
      flex-wrap: wrap;
      width: 100%;
      flex: 1;
      display: inline-flex;
      align-items: baseline;
      justify-content: center;
    }

    .member__elem {
      display: inline-flex;
      width: 0;
      height: 0;
      border-width: 8px 5px 0 5px;
      border-color: #E01F3D transparent transparent transparent;
      border-style: solid;
      right: 10%;
      top: 50%;
    }

    &__special {
      margin-top: rem(11px);
      font-style: normal;
      font-weight: normal;
      font-size: rem(16px);
      line-height: rem(19px);
      text-align: center;
      color: #292929;

      @include tablets {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }
    }

    &__optain {
      margin-top: rem(4px);
      font-style: normal;
      font-weight: normal;
      font-size: rem(16px);
      line-height: rem(19px);
      text-align: center;
      color: #666666;
    }


    &__drop {
      height: 0;
      flex-direction: column;
      transition: all 1s;
      overflow: hidden;
    }

    &__drop.active {
      height: rem(90px);
      transition: all 1s;
    }
  }
}